.App {
    text-align: center;
}

.App-header {
    background-color: var(--color-dark);
    min-height: 5vh;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
}

.big-screen {
    display: none;
}

.small-screen {
    margin: 1em;
    font-size: 2em;
}
.user-img {
    padding: 1em;
    color: var(--color-wite);
}

.user-img .profile img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 0.15em solid var(--color-board);
    object-fit: cover;
}

.small-screen-menu {
    width: 50%;
    height: 90%;
    background-color: var(--color-board);
    position: absolute;
    right: 0em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;
}
.small-screen-menu a {
    margin: 1em;
    color: black;
    font-size: 1.5em;
}

.small-screen-menu-moveIn {
    animation: moveIn 0.6s forwards;
}

@keyframes moveIn {
    from {
        transform: translateX(400%);
    }
    to {
        background-position: 0 0%;
    }
}

.small-screen-menu-vanish {
    animation: vanish 0.7s forwards;
}
@keyframes vanish {
    from {
        background-position: 0 0%;
    }
    to {
        transform: translateX(400%);
    }
}

a {
    margin: 0px 10px;
    text-decoration: none;
}

@media screen and (min-width: 512px) {
    .big-screen {
        display: flex;
        flex-direction: row;
    }
    .big-screen a {
        margin: 1em;
        color: var(--color-wite);
        font-size: 1.5em;
    }
    .small-screen-menu,
    .small-screen {
        display: none;
    }
}
