.App {
    text-align: center;
}

.App-header {
    background-color: #1150ce;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    color: white;
}

.App-link {
    color: #61dafb;
}

nav a {
    color: antiquewhite;
    margin: 0px 10px;
    text-decoration: none;
}
