:root {
    --color-dark: #630a10;
    --color-light: #fcf0c8;
    --color-board: #face7f;

    --color-extra: #911f27;

    --color-wite: whitesmoke;
    --color-dark-green: #94b49f;
}
/* Design For Mobile First*/

body {
    width: 100%;
    margin: 0;
    background-color: var(--color-light);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#root {
    width: 100%;
    min-height: 100vh;
}
