.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form input {
    width: 500px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    margin-top: 20px;
}

.form button {
    width: 250px;
    font-size: 20px;
    margin: 10px 0px;
    border: 2px solid cornflowerblue;
    border-radius: 12px;
}
