.tic-tac-toe-board {
    display: flex;
    flex-direction: column;
    /* background-image: url(https://i.imgur.com/OVBsgc1.jpg); */
    border: 2px solid black;
    font-family: "Indie Flower", cursive;
}

.colum {
    display: flex;
}

.cell {
    width: 89px;
    height: 89px;
    border: 1px solid lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    font-weight: 900;
}
.cell-b-button {
    border-bottom: 1.5px solid black;
}

.cell-middle {
    border-right: 1.5px solid black;
    border-left: 1.5px solid black;
}
