.tic-tac-toe-game {
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    font-family: "Indie Flower", cursive;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.colum {
    display: flex;
}

/* .cell {
    width: 89px;
    height: 89px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    text-transform: capitalize;
    cursor: pointer;
    color: rgb(16, 14, 14);
    font-weight: 900;
} */
.cell-b-button {
    border-bottom: 2px solid black;
}

.cell-middle {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.cell {
    width: 89px;
    height: 89px;
    background: whitesmoke;
    border: 2px solid black;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    outline: none;
}

.tic-tac-toe-board {
    border: 4px solid darkblue;
    border-radius: 10px;
    width: 267px;
    height: 267px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
