.display-online-users {
    width: 500px;
    max-height: 500px;

    padding: 10px;

    border: 2px solid blue;
    border-radius: 12px;
    background-color: rgba(0, 255, 255, 0.764);

    overflow: auto;

    position: absolute;
    z-index: 2;

    margin: 15% 26%;
}

.display-online-users .profile {
}

.display-online-users .profile img {
    border: 2px solid black;
}

.display-online-users .profile:hover {
    border: 2px solid whitesmoke;
    border-radius: 12px;
    background-color: blue;
    color: whitesmoke;
    font-size: 20px;
}
.display-online-users .profile:hover img {
    border: violet 2px solid;
}
