.display-online-users {
    width: 95%;
    max-height: 50%;

    padding: 10px;

    border: 0.2em solid var(--color-extra);
    border-radius: 12px;
    background-color: var(--color-board);

    overflow: auto;

    position: absolute;
    z-index: 2;

    margin: 2%;
}

.display-online-users .profile {
}

.display-online-users .profile img {
    width: 3em;
    height: 3em;
    border: 2px solid var(--color-extra);
}

/* 
REVIEW. THIS!
*/

.display-online-users .profile:hover {
    border: 2px solid whitesmoke;
    border-radius: 12px;
    background-color: blue;
    color: whitesmoke;
    font-size: 20px;
}
.display-online-users .profile:hover img {
    border: violet 2px solid;
}
